.pm--table_filter-selected {
  line-height: 34px;

  > .badge {
    font-weight: normal;
    margin-left: 10px;

    &, i {
      font-size: 100%;
    }

    i {
      vertical-align: middle;
      opacity: 0.6;
    }

  }
}
