{% extends 'BraincraftedBootstrapBundle:Form:bootstrap.html.twig' %}

{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    {% if type is defined and type == 'submit' %}
        {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-primary')|trim }) %}
        {% set icon = "check" %}
    {% else %}
        {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' btn btn-default')|trim }) %}
    {% endif %}
<button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{% if icon is defined %}{{ icon|icon }} {% endif %}{{ label|trans({}, translation_domain) }}</button>
{% endspaceless %}
{% endblock button_widget %}